{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },

  "AllowedHosts": "*",

  "ConnectionStrings": {
    "DefaultConnection": "Server=<ServerName>;Database=<DbName>;User Id=<UserID>;Password=<Password>;Encrypt=True;TrustServerCertificate=True"
}
}